version: "{build}"
branches:
  only:
  - master
image: Visual Studio 2019
build_script:
- pwsh: '& ".\build.ps1"'
test_script:
- dotnet test .\src\JournalCli.Tests\JournalCli.Tests.csproj -c Release
deploy_script:
- pwsh: '& ".\deploy.ps1"'
environment:
  psgallery:
    secure: Hlkt9LvEqlXZk4TY5rlpVj6fiSeLV7nmMwV4mjAinWphJUUeR6ZhIaYT0/L31YF/
  myget:
    secure: 6qd8BqNgZXIUnFbQJ90Xmr7W43u3qud1E3c16cuDcjZa6AO+ujq7zyS8d6JN89OJ
skip_commits:
  files:
    - '**/*.md'
install:
  - pwsh: Install-Module -Name PowerShellGet -MinimumVersion 2.2.3 -Force